<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="10" packages="org.apache.logging.log4j.core,net.kencochrane.raven.log4j2">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%date{yyyy-MM-dd HH:mm:ss.SSS}][%thread][%level][%class][%line]:%message%n"/>
        </Console>
        <RollingRandomAccessFile name="errorLog" fileName="/opt/logs/study/error.log"
                                 filePattern="/opt/logs/study/error.log.%d{yyyy-MM-dd}">
            <PatternLayout
                    pattern="[%date{yyyy-MM-dd HH:mm:ss.SSS}][%thread][%level][%logger{1.}]:%message%n">
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="commonLog" fileName="/opt/logs/study/common.log"
                                 filePattern="/opt/logs/study/common.log.%d{yyyy-MM-dd}">
            <PatternLayout
                    pattern="[%date{yyyy-MM-dd HH:mm:ss.SSS}][%thread][%level][%logger{1.}]:%message%n">
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="taskLog" fileName="/opt/logs/study/task.log"
                                 filePattern="/opt/logs/study/task.log.%d{yyyy-MM-dd}">
            <PatternLayout
                    pattern="[%date{yyyy-MM-dd HH:mm:ss.SSS}][%thread][%level][%logger{1.}]:%message%n">
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>

    </Appenders>

    <Loggers>
        <AsyncLogger name="com.cheese.study" level="info" additivity="false">
            <AppenderRef ref="errorLog"/>
        </AsyncLogger>
        <AsyncLogger name="common" level="info" additivity="false">
            <AppenderRef ref="commonLog"/>
        </AsyncLogger>
        <AsyncLogger name="task" level="info" additivity="false">
            <AppenderRef ref="taskLog"/>
        </AsyncLogger>
        
        <Root level="info">
            <AppenderRef ref="errorLog" />
            <AppenderRef ref="Console"/>
        </Root>


    </Loggers>
</Configuration>
